


# For PCBs designed using KiCad: http://www.kicad-pcb.org/
# Format documentation: http://kicad-pcb.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*~
_autosave-*
*.tmp
*-rescue.lib
*-save.pro
*-save.kicad_pcb
fp-info-cache
*-bak

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv

# Exported 3D models
*.step

# Build outputs
build

# MS Excel lock files
.~lock.*
Pletacka-board-v2.0/hw/export/gerbers.zip
Pletacka-board-v2.0/hw/export/gerber/drill_report.rpt
Pletacka-board-v2.0/hw/export/gerber/Pletacka-board-CmtUser.gbr
Pletacka-board-v2.0/hw/export/gerber/Pletacka-board-CuBottom.gbr
Pletacka-board-v2.0/hw/export/gerber/Pletacka-board-CuTop.gbr
Pletacka-board-v2.0/hw/export/gerber/Pletacka-board-drl_map.pdf
Pletacka-board-v2.0/hw/export/gerber/Pletacka-board-EdgeCuts.gbr
Pletacka-board-v2.0/hw/export/gerber/Pletacka-board-MaskBottom.gbr
Pletacka-board-v2.0/hw/export/gerber/Pletacka-board-MaskTop.gbr
Pletacka-board-v2.0/hw/export/gerber/Pletacka-board-PasteBottom.gbr
Pletacka-board-v2.0/hw/export/gerber/Pletacka-board-PasteTop.gbr
Pletacka-board-v2.0/hw/export/gerber/Pletacka-board-SilkBottom.gbr
Pletacka-board-v2.0/hw/export/gerber/Pletacka-board-SilkTop.gbr
Pletacka-board-v2.0/hw/export/gerber/Pletacka-board.drl
Pletacka-board-v2.0/hw/export/gerber/Pletacka-board.gbrjob
